<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="b-header">
                <div class="b-search">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Search</mat-label>
                            <input type="text" matInput placeholder="Client Name">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </form>
                </div>
                <div class="b-user">
                    user
                </div>
            </div>
        </div>
    </div>
</div>