html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    background-color: $white;
    box-shadow: 0 .125rem .25rem -0.0625rem rgba($black, .2),
        0 .25rem .3125rem 0rem rgba($black, .14),
        0 .0625rem .625rem 0 rgba($black, .12);
    height: $header-height;
}
  
app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex-grow: 1;
    padding-top: $header-height + 1.5rem;
}
  
footer {
    flex-shrink: 0;
}
