html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 99;
    min-height: 5.125rem;
    display: flex;
    align-items: center;
}
  
app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex-grow: 1;
    padding-top: 5.125rem;
}
  
footer {
    flex-shrink: 0;
}