<div class="container-fluid">
    <mat-card>
        <div class="b-header">
            <div class="user-id">
                <p><span>Client ID: </span>608199c68e4675862bcc0e96</p>
            </div>
            <div class="more-info">
                <button mat-flat-button color="primary">More</button>
            </div>
        </div>
        <div class="user-info">
            <p><span>Full Name: </span>Halil Sallabas</p>
            <p><span>Birth Date: </span>01/01/1992</p>
            <p><span>Address: </span>05 rue sahl ibn Haroun, Manouba , Tunisie"</p>
        </div>
        <div class="content">
            charts
        </div>
    </mat-card>
</div>
